
table{
  width:100%;
  /* box-shadow: 5px 5px 50px #ddd; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-collapse: collapse;
}
th{
  padding:10px;
  background-color:#673ab7;
  color:rgba(255,255,255,.87);
  text-align:left;
  border: 1px solid #673ab7;
}
td {
    border-top: 1px solid #ddd;
    padding:10px;
}
tr:hover{
  background-color:#E0E0E0;
}


.leftBtn {
    position: absolute;
    top:0px;
    right: 0px;
    margin: 0;
}

.mainDialog{
  max-height:70vh;
  overflow-y:auto;
}
