<md-toolbar>
  <!-- <md-icon>verified_user</md-icon> -->
  <img src="../assets/BHLogo.jpg" height="45" width="45" style="padding-right:10px;">
  <span>Wellness Doctor </span>


  <span class="pushRight"></span>
  <span *ngIf="checkLoginStatus()" style="padding-right:5px;">Sign in as {{cookieLogin.FullName}} </span>
  <button *ngIf="checkLoginStatus()" md-raised-button color="warn" (click)="logOut()"><md-icon>exit_to_app</md-icon> logout</button>

</md-toolbar>

<md-card *ngIf="!checkLoginStatus()">
  <h4 class="subheading-1">Please Login for use this ....</h4>

  <form (ngSubmit)="doLogin(form)" #form="ngForm" autocomplete="off">
    <div class="form-group">

      <md-input-container class="full-width">
        <input name="inpUserName" mdInput placeholder="Username" ngModel>
      </md-input-container>

      <md-input-container class="full-width">
        <input name="inpPassword" type="password" mdInput placeholder="Password" ngModel>
      </md-input-container>

    </div>
    <button md-raised-button type="submit" [disabled]="form.invalid">Log In</button>
  </form>
  <!-- <button md-button (click)="clearCookie()">Click me!</button> -->
</md-card>

<md-card *ngIf="checkLoginStatus()">

  <app-search-patient></app-search-patient>

</md-card>
